.button {
  border: none;
  outline: none;
  padding-inline: 1.25rem;
  padding-block: .75rem;
  border-radius: .75rem;
  margin-top: 1rem;
  font-size: large;
  font-weight: 400;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out;

  &.primary-button {
    background-color: rgb(226, 3, 48);
    color: white;
    
    &:hover {
      background-color: rgb(190, 2, 40);
    }
  }

  &:active {
    transform: scale(1.1);
  }
}
